@use '@angular/material' as mat;

@include mat.core();


$law-it-frontend-theme:mat.m2-define-light-theme((
  color: (
    primary:mat.m2-define-palette(mat.$m2-indigo-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette),
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($law-it-frontend-theme);
}

